/** 常用色值 **/
/** 常用字体大小 **/
.container .nav-left {
  color: #fff;
  height: calc(100vh);
  background: #001529;
}
.container .main {
  background: #f1f3f5;
  height: calc(100vh);
  overflow: auto;
}
.container .header {
  background: #fff;
}
.container .content {
  position: relative;
  padding: 20px;
}
